.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 20px;
  border: 2px solid rgba(0, 123, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-width: 400px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.form-title {
  text-align: center;
  width: 100%;
  font-size: 30px;  
  margin-bottom: 30px;  
  margin-top: 0;
}

.form-field {
  margin-bottom: 20px;
  width: 100%;
}

.form-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 5px;
}

.form-field input,
.react-datepicker__input-container input {
  width: 100%;
  height: 20px; 
  border: 2px solid #007bff; 
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.department-select-container {
  margin-top: 20px;
}